@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}
[data-theme="dark"] {
  --foreground: white;
  --background : #3F3C39;

}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


 
